/* HERO */
.hero {
    text-align: center;
    padding: 20px;
}

.hero {
    padding-top: 10px;
    padding-bottom: 10px;
}


.hero-img {
    width: 100%;
    max-width: 480px;
    height: auto;
    max-height: 220px;
    object-fit: cover;
    object-position: center;
    border-radius: 8px;
    display: block;
    margin: 0 auto;
}


/* Títulos */
h1 {
    font-size: 26px;
    margin-top: 15px;
}

.sub {
    font-size: 16px;
    color: #555;
    margin-bottom: 10px;
}

/* Badge + botón en línea */
.precio-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.precio {
    background: #4CAF50;
    color: white;
    padding: 6px 12px;
    border-radius: 6px;
    font-weight: bold;
}

/* Botón WhatsApp inline */
.btn-w-inline {
    background: #25D366;
    color: white;
    padding: 6px 12px;
    border-radius: 6px;
    font-size: 14px;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 6px;
    white-space: nowrap;
}

/* Icono pequeño */
.w-icon {
    width: 16px;
    height: 16px;
}

/* Beneficios */
.beneficios {
    margin-top: 12px;
    font-size: 15px;
}

/* Secciones */
section {
    padding: 20px;
}

section h2 {
    font-size: 22px;
    margin-bottom: 10px;
}

/* Botones fijos */
.cta-fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
}

.cta-fixed button {
    flex: 1;
    padding: 15px;
    font-size: 16px;
    border: none;
    color: white;
}

.cta-fixed .whatsapp {
    background: #25D366;
}

.cta-fixed .llamar {
    background: #007BFF;
}
