/* CONTENEDOR PRINCIPAL */

.beneficios {
    text-align: center;
    font-size: 15px;
    margin: 10px 0 5px;
    line-height: 1.4;
}

.container {
    max-width: 480px;
    margin: 0 auto;
    padding: 0 15px;
}

/* HERO */
.hero {
    text-align: center;
    padding: 10px 0;
}

.hero-img {
    width: 100%;
    max-width: 480px;
    height: auto;
    border-radius: 8px;
    display: block;
    margin: 0 auto;
}

/* TÍTULOS */
h1 {
    font-size: 26px;
    margin-top: 15px;
}

.sub {
    font-size: 16px;
    color: #555;
    margin-bottom: 10px;
}

/* PRECIO + BOTÓN */
.precio-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.precio {
    background: #4CAF50;
    color: white;
    padding: 6px 12px;
    border-radius: 6px;
    font-weight: bold;
}

.btn-w-inline {
    background: #25D366;
    color: white;
    padding: 6px 12px;
    border-radius: 6px;
    font-size: 14px;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 6px;
    white-space: nowrap;
}

.w-icon {
    width: 16px;
    height: 16px;
}

/* SECCIONES */
section {
    max-width: 480px;
       margin: 12px auto 25px;

}

section h2,
section p {
    text-align: center;
}

/* LISTAS PROFESIONALES */
section ul {
    text-align: left;
    margin: 0 auto;
    max-width: 420px;
    padding-left: 20px;
}

/* BOTONES FIJOS */
.cta-fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    z-index: 999;
}

.cta-fixed button {
    flex: 1;
    padding: 15px;
    font-size: 16px;
    border: none;
    color: white;
    font-weight: bold;
}

.cta-fixed .whatsapp {
    background: #25D366;
}

.cta-fixed .llamar {
    background: #007BFF;
}
